<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<lista></lista>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.cabecalho {
		background-color: #d6d6d6;
		font-weight: bold;
	}
</style>

<div class="modal fade" tabindex="-1" role="dialog" id="modalVerVenda">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Venda: {{ vm.venda.venda.data_hora_venda }}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div style="border: 3px solid #222"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table style="width: 100%;" class="table table-venda">
							<tr>
								<td class="cabecalho">Data e Hora</td>
								<td>{{ vm.venda.venda.data_hora_venda }}</td>
								<td class="cabecalho">Valor Total</td>
								<td>{{ vm.venda.venda.valor_total }}</td>
							</tr>
							<tr>
								<td class="cabecalho">Forma de Pagamento</td>
								<td>{{ vm.venda.venda.forma_pagamento }}</td>
								<td class="cabecalho">Valor de Entrada</td>
								<td>{{ vm.venda.venda.valor_entrada }}</td>
							</tr>
							<tr>
								<td class="cabecalho">Cliente</td>
								<td colspan="3">{{ vm.venda.venda.cliente }}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div style="border: 3px solid #222"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table style="width: 100%" class="table" >
							<thead>
								<tr>
									<th class="cabecalho">Nome</th>
									<th class="cabecalho">Quantidade</th>
									<th class="cabecalho">Valor</th>
									<th class="cabecalho">Valor Total</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="produto in vm.venda.produtos">
									<td style="width: 40%">{{ produto.nome }}</td>
									<td style="width: 10%">{{ produto.quantidade }}</td>
									<td style="width: 20%">{{ produto.valor }}</td>
									<td style="width: 20%">{{ produto.valor_total }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div style="border: 3px solid #222"></div>
					</div>
				</div>

				<div class="row" ng-if="vm.venda.venda.consultar_crediario == 1">
					<div class="col-md-12">
						<table style="width: 100%" class="table" >
							<thead>
								<tr>
									<th style="width: 25%;" class="cabecalho">Vencimento</th>
									<th style="width: 25%;" class="cabecalho">Data do Pagamento</th>
									<th style="width: 10%;" class="cabecalho">Valor da Parcela</th>
									<th style="width: 40%;" class="cabecalho">Situação</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="crediario in vm.venda.crediario">
									<td>{{ crediario.data_vencimento }}</td>
									<td>{{ crediario.data_pagamento }}</td>
									<td>{{ crediario.valor_parcela }}</td>
									<td>{{ crediario.situacao }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-flat" ng-click="vm.irParaPagamento(vm.venda.venda.id_venda, vm.venda.venda.id_cliente)">Efetuar Pagamento de Parcela</button>
				<button type="button" class="btn btn-primary btn-flat" ng-click="vm.imprimirCupom()">Imprimir Cupom</button>
			</div>
		</div>
	</div>
	</form>
</div>