<div class="row">
	<div class="col-md-12">
		<div class="box box-primary">
			<form novalidate name="formulario" ng-submit="vm.editar ? vm.atualizar(formulario) : vm.salvar(formulario)">
				<div class="box-body">
					<div class="row" ng-show="vm.produto.custo && vm.produto.valor && vm.produto.quantidade">
						<div class="col-md-12">
							<div class="alert alert-info">
								Lucro por produto: {{ (vm.produto.valor - vm.produto.custo) | currency }}<br>
								Lucro total: {{ ((vm.produto.valor - vm.produto.custo) * vm.produto.quantidade) | currency }}<br>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group" >
								<label for="codigo">Código:</label>
								<input id="codigo" type="text" name="codigo" class="form-control" placeholder="Gerado automaticamente" ng-model="vm.produto.codigo" disabled>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group" ng-class="formulario.nome.$dirty && formulario.nome.$invalid ? 'has-error' : ''">
								<label for="nome">Nome: *</label>
								<input id="nome" type="text" name="nome" class="form-control" placeholder="Informe o nome do produto" ng-model="vm.produto.nome" required>
								<span class="help-block" ng-show="formulario.nome.$dirty && formulario.nome.$invalid">O campo é obrigatório</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group" >
								<label for="custo">Custo: </label>
								<input id="custo" type="text" name="custo" class="form-control" placeholder="Informe o valor de custo do produto" ng-model="vm.produto.custo" ui-money-mask>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group" ng-class="formulario.valor.$dirty && formulario.valor.$invalid ? 'has-error' : ''">
								<label for="valor">Valor: *</label>
								<input id="valor" type="text" name="valor" class="form-control" placeholder="Informe o valor de venda do produto" ng-model="vm.produto.valor" required ui-money-mask>
								<span class="help-block" ng-show="formulario.valor.$dirty && formulario.valor.$invalid">O campo é obrigatório</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group" ng-class="formulario.quantidade.$dirty && formulario.quantidade.$invalid ? 'has-error' : ''">
								<label for="quantidade">Quantidade: </label>
								<input id="quantidade" type="text" name="quantidade" class="form-control" placeholder="Informe a descrição para o produto" ng-model="vm.produto.quantidade" >
								<span class="help-block" ng-show="formulario.quantidade.$dirty && formulario.quantidade.$invalid">O campo é obrigatório</span>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group" ng-class="formulario.descricao.$dirty && formulario.descricao.$invalid ? 'has-error' : ''">
								<label for="descricao">Grupo: *</label>
								<select class="form-control" id="grupo" name="grupo" ng-options="grupo.id as grupo.descricao for grupo in vm.grupoLista" ng-model="vm.produto.id_grupo" required>
									<option value="" >Selecione</option>
								</select>
								<span class="help-block" ng-show="formulario.descricao.$dirty && formulario.descricao.$invalid">O campo é obrigatório</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-8">
							<div class="form-group" >
								<label for="observacao">Observações:</label>
								<textarea id="observacao" type="text" name="observacao" class="form-control" placeholder="Informe a descrição para o produto" ng-model="vm.produto.observacao"></textarea>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<button type="submit" class="btn btn-primary btn-flat" ng-show="vm.editar">Atualizar</button>
					<button type="submit" class="btn btn-primary btn-flat" ng-hide="vm.editar" ng-disabled="formulario.$invalid">Salvar</button>
					<button type="button" class="btn btn-primary btn-flat" ng-click="vm.voltar()">Voltar</button>
				</div>
			</form>
		</div>
	</div>
</div>